<div id="explore-wrapper">
    <div id="explore">
        <% if (title === "My posts") {%>
            <div class="small-title">Discover the Exciting Moments of Your Past</div>
        <% } else if (title === "Likes") {%>
            <div class="small-title">View Your Favorite Posts</div>
        <% } %>
        <div id="posts-wrapper">
            <div id="posts">
                <% posts.forEach(function(post) { %>
                    <a href=<%= "/insightify/" + post._id %> class="post">
                        <img src=<%= post.image %> alt="post" class="post-image">
                        <div class="post-cover">
                            <img src=<%= post.creater.avatar %> alt="avatar" class="post-avatar">
                            <span class="post-name"><%= post.creater.name %></span>
                        </div>
                    </a>
                <%})%>
            </div>
        </div>
    </div>
</div>