<div id="search-bar">
    <form action="/insightify/search" id="search-form">
        <img src="/images/icons/search.png" alt="search" id="search-icon" class="search-content">
        <input type="text" name="search" id="search-input" class="search-content">
        <input type="submit" value="Search" id="search-btn" class="search-content">
    </form>
</div>