<div id="side-nav">

    <div id="icon" class="side-nav-item">
        <img src="/images/icons/letter-i.png" alt="INSIGHTIFY">
        <span>INSIGHTIFY</span>
    </div>

    <div class="empty-div" id="upper-empty-div"></div>

    <div id="home" class="side-nav-item">
        <img src="/images/icons/home.png" alt="Home">
        <span>Home</span>
    </div>

    <div id="my-post" class="side-nav-item">
        <img src="/images/icons/my-post.png" alt="My Post">
        <span>My Post</span>
    </div>

    <div id="liked" class="side-nav-item">
        <img src="/images/icons/like.png" alt="Like">
        <span>Like</span>
    </div>

    <div id="create" class="side-nav-item">
        <img src="/images/icons/create.png" alt="Create">
        <span>Create</span>
    </div>

    <div class="empty-div" id="lower-empty-div"></div>

    <div id="user" class="side-nav-item">
        <img src="/images/icons/user.png" alt="User">
        <span>Log in</span>
    </div>

    <div id="setting" class="side-nav-item">
        <img src="/images/icons/setting.png" alt="Setting">
        <span>Setting</span>
    </div>

</div>