/* variables */
:root {
  --nav-width: 250px;
  --search-height: 50px;
}

body {
  margin: 0;
  box-sizing: border-box;
}

/* Side nav */

#side-nav {
  /* position: fixed; */
  top: 0px;
  left: 0px;
  height: 100vh;
  width: var(--nav-width);
  display: flex;
  flex-direction: column;
  border-right: 0.5px solid rgb(205, 205, 205);
}

#upper-empty-div {
  height: 50px;
}

#lower-empty-div {
  margin: auto 0;
}


.side-nav-item {
  position: relative;
  padding-left: 20px;
  height: 50px;
  margin: 7.5px;
  border-radius: 5px;
  transition: 0.3s;
}

.side-nav-item:hover {
  cursor: pointer;
  background-color: #b5eaff;
}

.side-nav-item img {
  padding-top: 8%;
  width: 20px;
}

.side-nav-item span {
  position: absolute;
  margin-left: 20px;
  top: 30%;
  font-size: 15px;
}

#icon img{
  position: absolute;
  left: -20px;
  top: -15px;
  width: 80px;
  height: 80px;
  padding-top: 0;
}

#icon span {
  font-size: 20px;
  font-family: "Marker Felt";
}

.grey {
  color: rgb(180, 180, 180);
}

.grey:hover {
  background-color: white;
}

/* Search bar */

#search-bar {
  position: absolute;
  left: var(--nav-width);
  top: 0px;
  width: calc(100vw - 250px);
}

#search-form {
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: var(--search-height);
}

#search-icon {
  width: 40px;
  height: 40px;
}

#search-input {
  height: 20px;
  margin: auto 30px ;
}

#search-btn {
  height: 25px;
  background-color: white;
}

/* Create form */

#form-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #00000039;
  position: fixed;
  top: 0;
  left: 0;
}

#create-form {
  flex-direction: column;
  height: 300px;
  width: 300px;
  position: absolute;
  top: 30vh;
  left: 30vw;
  background-color: #b5eaff;

}

.hide {
  display: none;
}

#close-create-form {
  position: absolute;
  left: calc(100vw - 35px);
  border: none;
  background-color: transparent;
  color: white;
  font-size: 30px;
}

/* Explore */
#explore-wrapper {
  position: fixed;
  top: var(--search-height);
  left: var(--nav-width);
  width: calc(100vw - var(--nav-width));
}

#tags {
  margin: 5px auto;
  width: 1000px;
}

.tag {
  border: 1px solid #d1f2ff;
  border-radius: 10px;
  background-color: #d1f2ff;
  color: black;
  padding-left: 5px;
  padding-right: 5px;
}

#posts-wrapper {
  width: 1000px;
  margin: 0 auto;
}

#posts {
  display: flex;
  width: 1000px;
  flex-wrap: wrap;
  align-items: center;
}

.post {
  display: flex;
  text-decoration: none;
  position: relative;
  width: 300px;
  height: 300px;
  margin: 5px;
  align-items: center;
  transition: 0.2s;
}

.post-image {
  position: absolute;
  width: 300px;
  height: 300px;
}

.post-avatar {
  border-radius: 50px;
  position: absolute;
  top: 85%;
  left: 5%;
  width: 35px;
}

.post-name {
  position: absolute;
  top: 87%;
  left: 20%;
  color: white;
}

.post-cover {
  position: relative;
  width: 300px;
  height: 300px;
  opacity: 0%;
  background-color: rgba(33, 33, 33, 0.145);
  transition: 0.2s;
}

.post:hover > div {
  opacity: 100%;
}