/* variables */
:root {
  --nav-width: 250px;
  --search-height: 70px;
  --background-color: #76767639;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Side nav */

#side-nav {
  /* position: fixed; */
  top: 0px;
  left: 0px;
  height: 100vh;
  width: var(--nav-width);
  display: flex;
  flex-direction: column;
  border-right: 0.5px solid rgb(205, 205, 205);
  background-color: #323e4a;
  color: white;
}

#upper-empty-div {
  height: 50px;
  font-size: 30px;
  padding-top: 10px;
  padding-left: 25px;
}

#lower-empty-div {
  margin: auto 0;
}

.side-nav-item {
  position: relative;
  padding-left: 20px;
  height: 50px;
  margin: 7.5px;
  border-radius: 5px;
  transition: 0.3s;
  text-decoration: none !important;
  color: white !important;
}

.side-nav-item:hover {
  cursor: pointer;
  background-color: #4b5862;
}

.side-nav-item img {
  padding-top: 8%;
  width: 20px;
  transition: 0.2s;
}

.side-nav-item:hover > img {
  scale: 1.05;
}

.side-nav-item span {
  position: absolute;
  margin-left: 20px;
  top: 30%;
  font-size: 15px;
}

.side-nav-text {
  font-size: 17px !important;
}

#icon img{
  position: absolute;
  left: -20px;
  top: -15px;
  width: 80px;
  height: 80px;
  padding-top: 0;
}

#icon span {
  font-size: 20px;
  font-family: "Marker Felt";
}

.grey {
  color: rgb(180, 180, 180);
}


/* Search bar */

#search-bar {
  display: flex;
  position: absolute;
  left: var(--nav-width);
  top: 0px;
  width: calc(100vw - 250px);
  background-color: #2b3844;
  
}

#search-bar-wrapper {
  margin: 0 auto;
  display: flex;
}

.search-bar-form {
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: var(--search-height);
}

#search-icon {
  width: 30px;
  height: 30px;
}

#search-input {
  height: 30px;
  margin: auto 30px;
  background-color: transparent;
  width: 300px;
  border-radius: 15px;
  padding-left: 20px;
  color: white;
  font-size: 20px;
  border: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.search-bar-btn {
  height: 30px;
  width: 50px;
  margin-right: 10px;
  background-color: rgb(116, 113, 113);
  border-radius: 50px;
  font-size: 25px;
  color: white;
  font-weight: bolder;
  border: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Create form */

#form-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #00000039;
  position: fixed;
  top: 0;
  left: 0;
}

#create-form {
  flex-direction: column;
  height: 300px;
  width: 300px;
  position: absolute;
  top: 30vh;
  left: 30vw;
  background-color: #b5eaff;

}

.hide {
  display: none;
}

#close-create-form {
  position: absolute;
  left: calc(100vw - 35px);
  border: none;
  background-color: transparent;
  color: white;
  font-size: 30px;
}

/* Explore */
#explore-wrapper {
  position: fixed;
  top: var(--search-height);
  left: var(--nav-width);
  width: calc(100vw - var(--nav-width));
  height: calc(100vh - var(--search-height));
  background-color: #202c36;
  overflow: auto;
}

#tags {
  margin: 20px auto;
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
}

.tag {
  border-radius: 7px;
  background-color: #525d67;
  color: black;
  padding: 10px;
  color: white;
  margin-right: 10px;
}

#posts-wrapper {
  
  width: 1000px;
  height: calc();
  margin: 0 auto;

}

#posts {
  display: flex;
  width: 1000px;
  flex-wrap: wrap;
  align-items: center;
}

@keyframes shake {
  0% {
    transform: rotate(-0.5deg);
  }
  50% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(-1deg);
  }
}

/* Show Post */

.post {
  display: flex;
  text-decoration: none;
  position: relative;
  width: 300px;
  height: 300px;
  margin: 5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: 0.2s;
  border-radius: 15px;
  background-color: #323e4a;
}

.post:hover {
  scale: 1.01;
}

.shake {
  animation: shake 0.3s ease infinite;
}

.post-image {
  position: absolute;
  height: 100%;
}

.post-avatar {
  border-radius: 50px;
  position: absolute;
  top: 85%;
  left: 5%;
  width: 35px;
}

.post-name {
  position: absolute;
  top: 87%;
  left: 20%;
  color: white;
}

.post-cover-banner {
  margin-top: 243px;
  height: 600px;
  background-color: #525d67cb;
}

.post-cover {
  position: relative;
  width: 300px;
  height: 300px;
  opacity: 0%;
  background-color: rgba(33, 33, 33, 0.145);
  transition: 0.2s;
}

.post:hover > div {
  opacity: 100%;
}

#show-post-wrapper {
  position: absolute;
  top: 0;
  left: var(--nav-width);
  width: calc(100vw - var(--nav-width));
  height: 95vh;
  padding-top: 5vh;
  background-color: #202c36;
  
}

#show-post {
  display: flex;
  width: 1200px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
}

#left-post {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 730px;
  width: 850px;
  background-color: rgb(0, 0, 0);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#user-div {
  border-bottom: 0.5px solid black;
  position: relative;
  height: 100px;
  padding: 15px;
}

#right-post {
  width: 350px;
}

#tag-avatar-wrapper {
  width: 39.5px;
  height: 39.5px;
  background-color: aquamarine;
}

#tag-avatar {
  border-radius: 50px;
  width: 39.5px;
}

.tag-name {
  font-weight: bold;
}

#tag-delete-btn {
  position: absolute;
  top: 15px;
  left: 200px;
}

#tag-edit-btn {
  position: absolute;
  top: 15px;
  left: 270px;
}

#tag-cancell-edit-btn {
  position: absolute;
  top: 45px;
  left: 200px;
}

#tag-update-btn {
  position: absolute;
  top: 45px;
  left: 270px;
}


#like-div {
  margin-top: auto;
  margin-bottom: 0;
  border-top: 0.5px solid black;
}

#like-icon {
  width: 30px;
}

#delete-box {
  position: absolute;
  width: 1200px;
  height: 730px;
  background-color: #c5c5c584;
}

#delete-wrapper {
  background-color: white;
  border-radius: 5px;
  width: 300px;
  height: 200px;
  margin: 0 auto;
  margin-top: 200px;
}