body {
  margin: 0;
  box-sizing: border-box;
}

#side-nav {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 250px;
  display: flex;
  flex-direction: column;
  border-right: 0.5px solid rgb(205, 205, 205);
}

#upper-empty-div {
  height: 50px;
}

#lower-empty-div {
  margin: auto 0;
}

.side-nav-item {
  position: relative;
  padding-left: 20px;
  height: 50px;
  margin: 7.5px;
  border-radius: 5px;
  transition: 0.3s;
}

.side-nav-item:hover {
  cursor: pointer;
  background-color: #b5eaff;
}

.side-nav-item img {
  padding-top: 8%;
  width: 20px;
}

.side-nav-item span {
  position: absolute;
  margin-left: 20px;
  top: 30%;
  font-size: 15px;
}

#icon img{
  position: absolute;
  left: -20px;
  top: -15px;
  width: 80px;
  height: 80px;
  padding-top: 0;
}

#icon span {
  font-size: 20px;
  font-family: "Marker Felt";
}